@import url(style.css);
@import url(grid.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);
.row,
.container {
    height: 100vh;
}

.d-flex-alg-center {
    display: flex;
    align-items: center;
}

.alg-center {
    align-items: center;
}

.sign {
    height: 100vh;
    display: block;
    position: relative;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.sign-in-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
}

.sign-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    padding: 40px;
    position: relative;
    box-shadow: 0 2px 26px 0 rgb(133 153 171 / 10%);
    border-radius: 4px;
    border: 1px solid rgba(133, 153, 171, 0.2);
    width: 100%;
    background-color: #fff;
}

.sign-logo {
    display: block;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.sign-logo img {
    width: 60px;
}

.sign-group {
    width: 100%;
    margin-bottom: 20px;
}

.sign-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: #fafafa;
    border: 1px solid rgba(133, 153, 171, 0.2);
    font-size: 14px;
    color: #364e65;
    padding: 0 15px;
}

.sign-input:focus {
    border-color: #3796f6;
}

.sign-group-checkbox {
    width: 100%;
}

.sign label {
    font-size: 13px;
    color: #8599ab;
    cursor: pointer;
    padding-left: 20px;
    line-height: 20px;
}

.sign-button {
    width: 100%;
    height: 40px;
    background-color: #3796F6;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.sign-button:hover {
    color: #3796F6;
    background: linear-gradient( 45deg, rgba(55, 150, 246, 0.5) 0%, rgba(55, 150, 246, 0.05) 100%);
}

.sign-text {
    display: block;
    margin-top: 15px;
    font-size: 13px;
    color: #8599ab;
}

.sign-text a {
    position: relative;
    color: #3796F6;
}

.sign-text a:hover {
    color: #fa7268;
}


/* For sign up page */

.sign-group-checkbox a {
    font-size: 13px;
    color: #3796F6;
}

.sign-group-checkbox a:hover {
    color: #fa7268;
}