@import url(grid.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    overflow: scroll;
}

img {
    width: 100%;
}


/* Common Styles */

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* Header */

header {
    width: 100%;
    height: 70px;
    background-color: #2D2F32;
    display: flex;
}

.nav-left {
    display: flex;
}

a.logo {
    display: inline-block;
    margin-right: 81px;
}

a.logo img {
    width: 60px;
    height: 40px;
    margin-top: 15px;
}

.navbar {
    display: flex;
    margin-top: 22px;
}

.navbar li {
    margin-right: 40px;
}

.navbar a {
    font-size: 14px;
    font-weight: 400;
    color: #D5D9DA;
    transition: 0.4s;
}

.navbar a:hover {
    color: #007bff;
}

.nav-right {
    display: flex;
}

.search-area {
    width: 250px;
    height: 40px;
    margin-top: 15px;
    position: relative;
    margin-left: 62px;
    margin-right: 126px;
}

.search-input {
    width: 100%;
    padding: 12px 45px 12px 19px;
    outline: none;
    background-color: #424447;
    border: none;
    border-radius: 5px;
    color: #FEFEFE;
}

::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #D5D9DA;
}

.nav-search-button {
    position: absolute;
    background-color: transparent;
    color: #dadedf;
    font-size: 18px;
    font-weight: 300;
    line-height: 42px;
    outline: none;
    border: none;
    cursor: pointer;
    top: 0;
    right: 19px;
    bottom: 0;
    transition: 0.4s;
}

.nav-search-button:hover {
    color: #007bff;
}

.header-contact a {
    display: inline-block;
    margin-top: 22px;
    margin-right: 27px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.3);
    transition: 0.4s;
    position: relative;
}

.header-contact a::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 3px;
    right: -3px;
    background-color: #3796f6;
    border-radius: 50%;
    border: 1px solid #dadedf;
}

.header-contact a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.header-user {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.user-img {
    display: block;
    width: 36px;
    height: 36px;
}

.user-img img {
    border-radius: 50%;
}

.user-name {
    color: #dadedf;
    font-size: 14px;
    padding-left: 10px;
    font-weight: 600;
}